<h1>HBS Rendered Files!</h1>

Your message is: {{msg}}!!

{{{html}}}

{{!-- Country Name: {{country.name}} --}}
{{!-- Country size: {{country.size}} --}}

{{#each countries}}
  {{#unless this.western}}
<li>{{this.name}} ---- {{this.size}}</li>
  {{/unless}}
{{/each}}
